# Importação de bibliotecas

In [290]:
import pandas as pd
import plotly.express as px
import streamlit as st
import folium
from folium.plugins import MarkerCluster
from streamlit_folium import folium_static
from PIL import Image

In [306]:
def qtd_aval_receb():

    qtd_aval_receb = df.loc[:, "Votes"].sum()
            
    formatted_output = format(qtd_aval_receb, ",")
    
    return formatted_output

In [307]:
qtd_aval_receb()

'4,195,634'

# Importação do dataframe

In [291]:
df = pd.read_csv ('raw_data.csv')

In [ ]:
df.head(2)

# Tratamento e limpeza da base de dados

In [292]:
#Removendo restaurantes duplicados da base de dados

df = df.drop_duplicates()

#Definindo apenas 1 tipo de culinária por restaurate

df["Cuisines"] = df.loc[:, "Cuisines"].astype(str).apply(lambda x: x.split(",")[0])

#Criando coluna de nome do país a partir do código do país

COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America",
}

df['Country Name'] = df['Country Code'].apply(lambda x: COUNTRIES.get(x))

# Visualização do dataframe

In [295]:
df.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country Name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines

In [ ]:
df.shape

In [ ]:
df.columns

# Criação de códigos dos exercícios

## Geral

### 1. Quantos restaurantes únicos estão registrados?

**Saída**

Número de restaurantes


**Processo**

Filtrar coluna id do restaurante

Contar quantidade de ids únicos


**Entrada**

In [ ]:
df.loc[:, "Restaurant ID"].nunique()

### 2. Quantos países únicos estão registrados?

**Saída**

Quantidade de países únicos


**Processo**

Filtrar coluna country code

Contar quantidade de códigos únicos


**Entrada**

In [ ]:
df.loc[:, "Country Code"].nunique()

### 3. Quantas cidades únicas estão registradas?

**Saída**

Número de cidades únicas


**Processo**

Filtrar coluna city

Calcular quantidade de informações únicas


**Entrada**

In [ ]:
df.loc[:, "City"].nunique()

### 4. Qual o total de avaliações feitas?

**Saída**




**Processo**

Filtrar coluna votes

Somar a coluna votes


**Entrada**

In [ ]:
df.loc[:, "Votes"].sum()

### 5. Qual o total de tipos de culinária registrados?

**Saída**

Quantidade de tipos de culinária


**Processo**

Filtrar coluna tipo de culinária

Contar quantidade de tipos únicos registrados


**Entrada**

In [ ]:
df.loc[:, "Cuisines"].nunique()

## País

### 1. Qual o nome do país que possui mais cidades registradas?

**Saída**

Nome de um país


**Processo**

Filtrar código do país e cidade

Agrupar por nome do país

Contar quantidade de cidades únicas registradas por país

Ordenar do maior para o menor

Escolher a primeira linha


**Entrada**

In [296]:
df.loc[:, ["Country Name", "City"]].groupby("Country Name").nunique("City").sort_values("City", ascending=False).reset_index().iloc[0,0]

'India'

### 2. Qual o nome do país que possui mais restaurantes registrados?

**Saída**

Nome de um país
Com mais restaurantes registrados


**Processo**

Filtrar coluna nome do país e id do restaurante

Agrupar por país

Contar a coluna id do restaurante

Ordenar do maior para o menor valor

Resetar o index

Localizar o nome do país


**Entrada**

In [297]:
df.loc[:, ["Country Name", "Restaurant ID"]].groupby("Country Name").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

'India'

### 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

**Saída**

Nome de um país
Com mais restaurantes com nível de preço igual a 4


**Processo**

Filtrar linha nível de preço igual a 4

Filtrar coluna nome do país e id do restaurante

Agrupar por país

Contar a coluna id do restaurante

Ordenar pela coluna id do restaurante contado

Resetar o index

Localizar o nome do país


**Entrada**

In [298]:
df.loc[df["Price range"] == 4, ["Country Name", "Restaurant ID"]].groupby("Country Name").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

'United States of America'

### 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

**Saída**

Nome de um país
Com a maior quantidade de tipos culinários


**Processo**

Filtrar coluna nome do país e tipo culinário

Agrupar por nome do país

Contar os valores únicos da coluna tipo culinário

Ordenar do maior para o menor valor

Resetar o index

Localizar o nome do país


**Entrada**

In [299]:
df.loc[:, ["Country Name", "Cuisines"]].groupby("Country Name").nunique("Cuisines").sort_values("Cuisines", ascending=False).reset_index().iloc[0,0]

'India'

### 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

**Saída**

Nome de um país
com a maior quantidade de avaliações feitas


**Processo**

Filtrar coluna nome do país e votos

Agrupar por nome do país

Somar a coluna votos

Ordenar a coluna votos do maior para o menor valor

Resetar o index

Localizar o nome do país


**Entrada**

In [300]:
df.loc[:, ["Country Name", "Votes"]].groupby("Country Name").sum("Votes").sort_values("Votes", ascending=False).reset_index().iloc[0,0]

'India'

### 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

**Saída**

Nome de um país
Com mais restaurantes que fazem entrega


**Processo**

Filtrar linha "Has Online delivery" como 1

Filtrar coluna nome do país e id do restaurante

Agrupar por país

Contar a coluna id do restaurante

Ordenar pela coluna id do restaurante contado

Resetar o index

Localizar o nome do país


**Entrada**

In [301]:
df.loc[df["Is delivering now"] == 1, ["Country Name", "Restaurant ID"]].groupby("Country Name").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

'India'

### 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

**Saída**

Nome de um país
Com mais restaurantes que fazem entrega


**Processo**

Filtrar linha "Has Table booking" como 1

Filtrar coluna nome do país e id do restaurante

Agrupar por país

Contar a coluna id do restaurante

Ordenar pela coluna id do restaurante contado

Resetar o index

Localizar o nome do país


**Entrada**

In [302]:
df.loc[df["Has Table booking"] == 1, ["Country Name", "Restaurant ID"]].groupby("Country Name").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

'India'

### 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

**Saída**

Nome de um país
Com a maior quantidade média de avaliações por restaurante


**Processo**

Filtrar coluna nome do país e avaliações

Agrupar por nome do país

Calcular a média das avaliações

Ordenar da maior para a menor média

Resetar o index

Localizar o nome do país com maior média de avaliações por restaurantes


**Entrada**

In [303]:
df.loc[:, ["Country Name", "Votes"]].groupby("Country Name").mean().sort_values("Votes", ascending=False).reset_index().iloc[0,0]

'Indonesia'

### 9. Qual o nome do país que possui, na média, a maior nota média registrada?

**Saída**

Nome de um país
Com a maior nota média de avaliações por restaurante


**Processo**

Filtrar coluna nome do país e nota do restaurate

Agrupar por nome do país

Calcular a média da nota do restaurante

Ordenar da maior para a menor média

Resetar o index

Localizar o nome do país com maior média de avaliações por restaurantes


**Entrada**

In [304]:
df.loc[:, ["Country Name", "Aggregate rating"]].groupby("Country Name").mean("Aggregate rating").sort_values("Aggregate rating", ascending=False).reset_index().iloc[0,0]

'Indonesia'

### 10. Qual o nome do país que possui, na média, a menor nota média registrada?

**Saída**

Nome de um país
Com a maior nota média de avaliações por restaurante


**Processo**

Filtrar coluna nome do país e nota do restaurate

Agrupar por nome do país

Calcular a média da nota do restaurante

Ordenar da menor para a maior média

Resetar o index

Localizar o nome do país com maior média de avaliações por restaurantes


**Entrada**

In [305]:
df.loc[:, ["Country Name", "Aggregate rating"]].groupby("Country Name").mean("Aggregate rating").sort_values("Aggregate rating", ascending=True).reset_index().iloc[0,0]

'Brazil'

### 11. Qual a média de preço de um prato para dois por país?

**Saída**

Tabela com a média de preço
De um prato para dois
Por país


**Processo**

Filtrar coluna nome do país e média de preço de um prato para dois

Agrupar por país

Calcular a média do preço médio de um prato para dois por restaurante

Resetar o index

Exibir a tabela


**Entrada**

In [ ]:
df.loc[:, ["Average Cost for two", "Country Name"]].groupby("Country Name").mean("Average Cost for two").sort_values("Average Cost for two", ascending=False).reset_index()

## Cidade

### 1. Qual o nome da cidade que possui mais restaurantes registrados?

**Saída**

Nome de uma cidade
Com mais restaurantes registrados


**Processo**

Filtrar coluna nome da cidade e id do restaurante

Agrupar por cidade

Contar a coluna id do restaurante

Ordenar do maior para o menor valor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[:, ["City", "Restaurant ID"]].groupby("City").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

### 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

**Saída**

Nome de uma cidade
Com mais restaurantes com nota média acima de 4


**Processo**

Filtrar linha nota média acima de 4

Filtrar coluna cidade e id do restaurante

Agrupar por cidade

Contar a coluna id do restaurante

Ordenar a coluna id de contagem dos restaurantes do maior para o menor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[df["Aggregate rating"] > 4, ["City", "Restaurant ID"]].groupby("City").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

### 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

**Saída**

Nome de uma cidade
Com mais restaurantes com nota média abaixo de 2,5


**Processo**

Filtrar linha nota média abaixo de 2.5

Filtrar coluna cidade e id do restaurante

Agrupar por cidade

Contar a coluna id do restaurante

Ordenar a coluna id de contagem dos restaurantes do maior para o menor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[df["Aggregate rating"] < 2.5, ["City", "Restaurant ID"]].groupby("City").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

### 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

**Saída**

Nome de uma cidade
Com o maior valor médio de um prato para dois


**Processo**

Filtrar coluna cidade e preço médio de um prato para dois

Agrupar por cidade

Calcular a média do preço médio de um prato para dois

Ordenar da maior para a menor média

Resetar o index

Localizar a cidade com maior preço médio de um prato para dois


**Entrada**

In [ ]:
df.loc[:, ["City", "Average Cost for two"]].groupby("City").mean("Average Cost for two").sort_values("Average Cost for two", ascending=False).reset_index().iloc[0,0]

### 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

**Saída**

Nome de uma cidade
Com a maior quantidade de tipos culinários


**Processo**

Filtrar coluna cidade e tipo culinário

Agrupar por nome da cidade

Contar os valores únicos da coluna tipo culinário

Ordenar do maior para o menor valor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[:, ["City", "Cuisines"]].groupby("City").nunique("Cuisines").sort_values("Cuisines", ascending=False).reset_index().iloc[0,0]

### 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

**Saída**

Nome de uma cidade
Com mais restaurantes que fazem reservas


**Processo**

Filtrar linha "Has Table booking" como 1

Filtrar coluna cidade e id do restaurante

Agrupar por cidade

Contar a coluna id do restaurante

Ordenar a coluna id do restaurante contado do maior para o menor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[df["Has Table booking"] == 1, ["City", "Restaurant ID"]].groupby("City").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

### 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

**Saída**

Nome de uma cidade
Com mais restaurantes que fazem entregas


**Processo**

Filtrar linha "Is delivering now" como 1

Filtrar coluna cidade e id do restaurante

Agrupar por cidade

Contar a coluna id do restaurante

Ordenar a coluna id do restaurante contado do maior para o menor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[df["Is delivering now"] == 1, ["City", "Restaurant ID"]].groupby("City").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

### 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

**Saída**

Nome de uma cidade
Com mais restaurantes que aceitam pedidos online


**Processo**

Filtrar linha "Has Online delivery" como 1

Filtrar coluna cidade e id do restaurante

Agrupar por cidade

Contar a coluna id do restaurante

Ordenar a coluna id do restaurante contado do maior para o menor

Resetar o index

Localizar o nome da cidade


**Entrada**

In [ ]:
df.loc[df["Has Online delivery"] == 1, ["City", "Restaurant ID"]].groupby("City").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

## Restaurantes

### 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

**Saída**

Nome do restaurante
Com a maior quantidade de avaliações


**Processo**

Filtrar coluna nome do restaurante e avaliações

Ordenar do maior para o menor a coluna avaliações

Resetar o index

Localizar o nome do restaurante


**Entrada**

In [ ]:
df.loc[:, ["Restaurant Name", "Votes"]].sort_values("Votes", ascending=False).reset_index().iloc[0,1]

### 2. Qual o nome do restaurante com a maior nota média?

**Saída**

Nome do restaurante
Com a maior nota média


**Processo**

Filtrar coluna nome do restaurante, id do restaurante e nota média

Ordenar do maior para o menor a coluna nota média

Ordenar da menor para a maior a coluna id do restaurante

Localizar o nome do restaurante


**Entrada**

In [ ]:
df.loc[:, ["Restaurant Name", "Restaurant ID", "Aggregate rating"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).iloc[0,0]

### 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

**Saída**

Nome do restaurante
Com o maior preço de um prato para duas pessoas


**Processo**

Filtrar coluna nome do restaurante, id do restaurante e preço do prato para duas pessoas

Ordenar do maior para o menor a coluna preço do prato para duas pessoas

Ordenar da menor para a maior a coluna id do restaurante

Localizar o nome do restaurante


**Entrada**

In [ ]:
df.loc[:, ["Restaurant Name", "Restaurant ID", "Average Cost for two"]].sort_values(["Average Cost for two", "Restaurant ID"], ascending=[False, True]).iloc[0,0]

### 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

**Saída**

Nome do restaurante
Com culinária do tipo brasileira
Com a menor média de avaliação


**Processo**

Filtrar linha do tipo de culinária igual a brasileira

Filtrar coluna nome do restaurante, id do restaurante e nota média

Ordenar do menor para o maior a coluna nota média

Ordenar da menor para a maior a coluna id do restaurante

Localizar o nome do restaurante


**Entrada**

In [ ]:
df.loc[df["Cuisines"] == "Brazilian", ["Restaurant Name", "Restaurant ID", "Aggregate rating"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[True, True]).iloc[0,0]

### 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

**Saída**

Nome do restaurante
Com culinária do tipo brasileira
Localizado no Brasil
Com a maior média de avaliação


**Processo**

Filtrar linha do tipo de culinária igual a brasileira E nome do país igual a Brasil

Filtrar coluna nome do restaurante, id do restaurante e nota média

Ordenar do maior para o menor a coluna nota média

Ordenar da menor para a maior a coluna id do restaurante

Localizar o nome do restaurante


**Entrada**

In [ ]:
df.loc[(df["Cuisines"] == "Brazilian") & (df["Country Name"] == "Brazil"), ["Restaurant Name", "Restaurant ID", "Aggregate rating"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).iloc[0,0]

### 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

**Saída**

Resposta com sim ou não


**Processo**

Filtrar linha restaurantes que aceitam pedidos online

Filtrar coluna quantidade de avaliações recebidas

Somar coluna quantidade de avaliações recebidas


Filtrar linha restaurantes que NÃO aceitam pedidos online

Filtrar coluna quantidade de avaliações recebidas

Somar coluna quantidade de avaliações recebidas


Verificar qual o maior valor entre as duas variáveis


**Entrada**

In [ ]:
df.loc[:, ["Has Online delivery", "Votes"]].groupby("Has Online delivery").mean().sort_values("Votes", ascending=False).reset_index()

In [ ]:
print("Sim, os restaurantes que aceitam pedidos online possuem em média mais avaliações do que os restaurantes que não aceitam pedidos online")

### 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [ ]:
df.loc[:, ["Has Table booking", "Average Cost for two"]].groupby("Has Table booking").mean().sort_values("Average Cost for two", ascending=False).reset_index()

In [ ]:
print("Sim, os restaurantes que fazem reservas possuem um valor médio de um prato para duas pessoas maior do que os restaurantes que não fazem reservas")

### 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [ ]:
df.loc[ ( ( df["Cuisines"] == "Japanese" ) | ( df["Cuisines"] == "BBQ" ) ) & ( df["Country Name"] == "United States of America" ), ["Cuisines", "Average Cost for two"]].groupby("Cuisines").mean("Average Cost for two").sort_values("Average Cost for two", ascending=False).reset_index()

In [ ]:
print("Sim, os restaurantes do tipo culinária japonesa localizados nos Estados Unidos possuem um preço médio de prato para duas pessoas maior do que os restaurantes de churrascaria também localizados nos Estados Unidos")

## Tipos de Culinária

### 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

**Saída**

Nome de um restaurante
De comida italiana
Com a maior média de avaliação


**Processo**

Filtrar linha dos restaurantes que servem culinária italiana

Filtrar coluna nome do restaurante e média de avaliação

Ordenar do maior para o menor valor pela média de avaliação

Resetar o index

Localizar o nome do restaurante


**Entrada**

In [ ]:
df.loc[df["Cuisines"] == "Italian", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

### 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Italian", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[True, True]).reset_index().iloc[0,1]

### 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "American", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

### 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "American", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[True, True]).reset_index().iloc[0,1]

### 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Arabian", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

### 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Arabian", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[True, True]).reset_index().iloc[0,1]

### 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Japanese", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

### 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Japanese", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[True, True]).reset_index().iloc[0,1]

### 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Home-made", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

### 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [ ]:
df.loc[df["Cuisines"] == "Home-made", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[True, True]).reset_index().iloc[0,1]

### 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

**Saída**

Nome de um tipo de culinária
Com o maior valor médio
De um prato para duas pessoas


**Processo**

Filtrar coluna tipo de culinária e preço médio do prato para duas pessoas

Agrupar por tipo de culinária

Calcular o preço médio de um prato para duas pessoas por tipo de culinária

Ordenar do maior para a menor média

Resetar o index

Exibir o tipo de culinária com a maior média



**Entrada**

In [ ]:
df.loc[:, ["Cuisines", "Average Cost for two"]].groupby("Cuisines").max("Average Cost for two").sort_values("Average Cost for two", ascending=False).reset_index().iloc[0,0]

### 12. Qual o tipo de culinária que possui a maior nota média?

In [ ]:
df.loc[:, ["Cuisines", "Aggregate rating"]].groupby("Cuisines").mean("Aggregate rating").sort_values("Aggregate rating", ascending=False).reset_index().iloc[0,0]

### 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

**Saída**

Nome de um tipo de culinária
Que possui mais restaurantes
Que aceitam pedidos online e fazem entregas


**Processo**

Filtrar linha por tipo de restaurante que aceita pedidos online E fazem entregas

Filtrar coluna tipo de culinária e id do restaurante

Agrupar por tipo de culinária

Conto a quantidade de restaurantes por tipo de culinária

Ordenar do maior para o menor valor

Resetar o index

Exibir o tipo de culinária com mais restaurantes que aceitam pedidos online e fazem entregas



**Entrada**

In [ ]:
df.loc[(df["Has Online delivery"] == 1) & (df["Is delivering now"] == 1), ["Cuisines", "Restaurant ID"]].groupby("Cuisines").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

# Criação de códigos de gráficos e tabelas

## Geral

### Quantidade de restaurantes cadastrados

In [194]:
qtd_rest_cadast = df.loc[:, "Restaurant ID"].nunique()

### Quantidade de avaliações recebidas

In [ ]:
qtd_aval_receb = df.loc[:, "Votes"].sum()

### Quantidade de países com restaurantes cadastrados

In [198]:
qtd_pais_rest_cadast = df.loc[:, "Country Code"].nunique()

### Quantidade de cidades com restaurantes cadastrados

In [ ]:
qtd_cid_rest_cadast = df.loc[:, "City"].nunique()

### Mapa com localização dos restaurantes cadastrados no marketplace

In [ ]:
map_with_rest = folium.Map()

for index, location_info in df.iterrows():
    folium.Marker([location_info["Latitude"], location_info["Longitude"]]).add_to(map_with_rest)
    
folium_static (map_with_rest, width=1024, height=768)

In [281]:
def create_map(dataframe):
    f = folium.Figure(width=1920, height=1080)

    m = folium.Map(max_bounds=True).add_to(f)

    marker_cluster = MarkerCluster().add_to(m)

    for _, line in dataframe.iterrows():

        name = line["Restaurant Name"]
        price_for_two = line["Average Cost for two"]
        cuisine = line["Cuisines"]
        currency = line["Currency"]
        rating = line["Aggregate rating"]
        color = f'{line["color_name"]}'

        html = "<p><strong>{}</strong></p>"
        html += "<p>Price: {},00 ({}) para dois"
        html += "<br />Type: {}"
        html += "<br />Aggragate Rating: {}/5.0"
        html = html.format(name, price_for_two, currency, cuisine, rating)

        popup = folium.Popup(
            folium.Html(html, script=True),
            max_width=500,
        )

        folium.Marker(
            [line["Latitude"], line["Longitude"]],
            popup=popup,
            icon=folium.Icon(color=color, icon="home", prefix="fa"),
        ).add_to(marker_cluster)

    folium_static(m, width=1024, height=768)

## País

### País com maior quantidade de restaurantes cadastrados

In [94]:
pais_mais_rest_cadast = df.loc[:, ["Country Name", "Restaurant ID"]].groupby("Country Name").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

'India'

### País com maior quantidade de avaliações registradas

In [ ]:
pais_mais_aval_reg = df.loc[:, ["Country Name", "Votes"]].groupby("Country Name").sum("Votes").sort_values("Votes", ascending=False).reset_index().iloc[0,0]

### Tabela com os restaurantes cadastrados por país

In [ ]:
tab_rest_cad_pais = df.loc[:, ["Country Name", "Restaurant ID"]].groupby("Country Name").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().loc[0:20, :]

tab_rest_cad_pais.rename(columns={"Country Name": "País", "Restaurant ID": "Restaurantes cadastrados"}, inplace=True)

tab_rest_cad_pais

### Tabela com as avaliações recebidas por país

In [ ]:
tab_rest_aval_pais = df.loc[:, ["Country Name", "Votes"]].groupby("Country Name").sum("Votes").sort_values("Votes", ascending=False).reset_index()

tab_rest_aval_pais.rename(columns={"Country Name": "País", "Votes": "Avaliações recebidas"}, inplace=True)

tab_rest_aval_pais

### Tabela com as notas médias dos restaurantes por país

In [ ]:
tab_aval_med_pais = df.loc[:, ["Country Name", "Aggregate rating"]].groupby("Country Name").mean("Aggregate rating").sort_values("Aggregate rating", ascending=False).reset_index()

tab_aval_med_pais.rename(columns={"Country Name": "País", "Aggregate rating": "Nota média"}, inplace=True)

tab_aval_med_pais

## Cidade

## Restaurante

### Restaurante com a maior avaliação

In [ ]:
df.loc[:, ["Restaurant Name", "Restaurant ID", "Aggregate rating"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).iloc[0,0]

### Restaurante com a maior quantidade de avaliações recebidas

In [ ]:
df.loc[:, ["Restaurant Name", "Votes"]].sort_values("Votes", ascending=False).reset_index().iloc[0,1]

### Tabela com os 20 restaurantes que possuem a maior avaliação

In [ ]:
tab_20_rest_maiores_notas = df.loc[:, ["Restaurant Name", "Restaurant ID", "Aggregate rating"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0:20, :]

tab_20_rest_maiores_notas.rename(columns={"Restaurant Name": "Restaurante", "Restaurant ID": "ID do Restaurante", "Aggregate rating": "Avaliação"}, inplace=True)

tab_20_rest_maiores_notas.loc[:, ["ID do Restaurante", "Restaurante", "Avaliação"]]

### Tabela com os 20 restaurantes que possuem a maior quantidade de avaliações recebidas

In [ ]:
tab_20_rest_mais_aval_receb = df.loc[:, ["Restaurant Name", "Restaurant ID", "Votes"]].sort_values(["Votes", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0:20, :]

tab_20_rest_mais_aval_receb.rename(columns={"Restaurant Name": "Restaurante", "Restaurant ID": "ID do Restaurante", "Votes": "Avaliações recebidas"}, inplace=True)

tab_20_rest_mais_aval_receb.loc[:, ["ID do Restaurante", "Restaurante", "Avaliações recebidas"]]

### Tabela com os restaurantes mais bem avaliados por tipo de culinária
Tentei mas não consegui :(

In [ ]:
df.loc[:, ["Restaurant Name", "Restaurant ID", "Cuisines", "Aggregate rating"]].sort_values("Aggregate rating", ascending=False).

## Culinária

### Quantidade de tipos culinários distintos oferecidos pelos restaurantes cadastrados na plataforma

In [229]:
df.loc[:, "Cuisines"].nunique()

166

### Culinária com mais restaurantes cadastrados

In [230]:
df.loc[:, ["Cuisines", "Restaurant ID"]].groupby("Cuisines").nunique("Restaurant ID").sort_values("Restaurant ID", ascending=False).reset_index().iloc[0,0]

'North Indian'

### Culinária com maior avaliação média dos restaurantes

In [231]:
df.loc[:, ["Cuisines", "Aggregate rating"]].groupby("Cuisines").mean("Aggregate rating").sort_values("Aggregate rating", ascending=False).reset_index().iloc[0,0]

'Others'

### Tabela com os 20 tipos culinários com mais restaurantes cadastrados

In [232]:
tab_20_tipo_cul_mais_rest_cadast = df.loc[:, ["Cuisines", "Restaurant ID"]].groupby("Cuisines").nunique("Restauarant ID").sort_values("Restaurant ID", ascending=False).reset_index().loc[0:20, :]

tab_20_tipo_cul_mais_rest_cadast.rename(columns={"Cuisines": "Tipo de Culinária", "Restaurant ID": "Restaurantes Cadastrados"}, inplace=True)

tab_20_tipo_cul_mais_rest_cadast

   Tipo de Culinária  Restaurantes Cadastrados
0       North Indian                       878
1           American                       520
2               Cafe                       465
3            Italian                       390
4              Pizza                       301
5            Chinese                       256
6             Burger                       224
7          Fast Food                       218
8        Continental                       201
9            Seafood                       183
10            Indian                       181
11          Japanese                       180
12      South Indian                       156
13           Mexican                       132
14           Biryani                       130
15             Asian                       123
16          European                       119
17          Desserts                       109
18            French                        97
19            Bakery                        84
20             Steak                        82

### Tabela com os 20 tipos culinários com maior nota média

In [233]:
tab_20_tipo_cul_maior_not_media = df.loc[:, ["Cuisines", "Aggregate rating"]].groupby("Cuisines").mean("Aggregate rating").round(2).sort_values("Aggregate rating", ascending=False).reset_index().loc[0:20, :]

tab_20_tipo_cul_maior_not_media.rename(columns={"Cuisines": "Tipo de Culinária", "Aggregate rating": "Nota média"}, inplace=True)

tab_20_tipo_cul_maior_not_media

   Tipo de Culinária  Nota média
0             Others        4.90
1            Ottoman        4.80
2           Egyptian        4.80
3              Ramen        4.80
4              Sunda        4.75
5         Fresh Fish        4.75
6             Author        4.70
7             Polish        4.70
8            Burmese        4.65
9             Crepes        4.60
10  Eastern European        4.60
11         Ukrainian        4.60
12         Pan Asian        4.60
13            Dimsum        4.60
14          Filipino        4.58
15             Cajun        4.56
16        Patisserie        4.55
17  Old Turkish Bars        4.55
18              Taco        4.54
19          Pub Food        4.53
20           Western        4.53

### Tabela com os 20 tipos culinários com menor avaliação média

In [234]:
tab_20_tipo_cul_menor_not_media = df.loc[:, ["Cuisines", "Aggregate rating"]].groupby("Cuisines").mean("Aggregate rating").round(2).sort_values("Aggregate rating", ascending=True).reset_index().loc[0:20, :]

tab_20_tipo_cul_menor_not_media.rename(columns={"Cuisines": "Tipo de Culinária", "Aggregate rating": "Nota média"}, inplace=True)

tab_20_tipo_cul_menor_not_media

   Tipo de Culinária  Nota média
0            Mineira        0.00
1        Drinks Only        0.00
2                nan        1.81
3             Afghan        2.05
4            Bengali        2.13
5                Tea        2.46
6            Tibetan        2.80
7             Durban        2.90
8           Armenian        3.40
9          Cantonese        3.40
10         Brazilian        3.46
11          Nepalese        3.52
12           Iranian        3.60
13         Argentine        3.67
14        Vegetarian        3.68
15         Beverages        3.69
16           Arabian        3.80
17        Australian        3.80
18           African        3.85
19             Grill        3.85
20         Home-made        3.85

### Melhor restaurante comida italiana

In [235]:
df.loc[df["Cuisines"] == "Italian", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

'Darshan'

### Melhor restaurante comida americana

In [236]:
df.loc[df["Cuisines"] == "American", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

'Burger & Lobster'

### Melhor restaurante comida árabe

In [237]:
df.loc[df["Cuisines"] == "Arabian", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

'Mandi@36'

### Melhor restaurante comida japonesa

In [238]:
df.loc[df["Cuisines"] == "Japanese", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

'Sushi Samba'

### Melhor restaurante comida caseira

In [239]:
df.loc[df["Cuisines"] == "Home-made", ["Restaurant Name", "Aggregate rating", "Restaurant ID"]].sort_values(["Aggregate rating", "Restaurant ID"], ascending=[False, True]).reset_index().iloc[0,1]

'Kanaat Lokantası'